<!DOCTYPE html>
<html>
<title>Jorge Argueta Resume</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1200px;">

  <!-- The Grid -->
  <div class="w3-row-padding">

    <!-- Left Column -->
    <div class="w3-third">

      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="{{url_for('static', filename='profile.png')}}" style="width:95%" alt="Avatar">
          <div class="w3-display-top w3-container w3-text-red">
            <p></p>
            <h2>Jorge Argueta</h2>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-red"></i>Student | Developer | Data Entry Clerk/Analyst </p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-red"></i>College Park, MD</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-red"></i>jorge.argueta314@gmail.com</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-red"></i>301-401-3668</p>
          <p><i class="fa fa-laptop fa-fw w3-margin-right w3-large w3-text-red"></i>argueta314.pythonanywhere.com</p>
          <p><i class="fa fa-camera fa-fw w3-margin-right w3-large w3-text-red"></i><a href="https://jarguet19.myportfolio.com/" target = "_blank">jarguet19.myportfolio.com/</a></p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-red"></i>Skills</b></p>

          <p>I have worked with many tools throughout different projects. I’ve kept this list to my favorites.
              However, if you use a different tool, programming language or software, I would be more than happy to learn it.</p>
          <p>Microsoft Office</p>
          <p>Adobe Photoshop</p>
          <p>Python</p>
          <p>Java</p>
          <p>HMTL & CSS</p>
          <p>SQL</p>
          <p>Ruby on rails</p>
          <p>Java Script and jQuery</p>
          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-red"></i>Languages</b></p>
          <p>Spanish</p>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-2"><i class="fa fa-user fa-fw w3-margin-right w3-xxlarge w3-text-red"></i>About me </h2>
          <p>I'm a Computer Science and Mathematics Student at the University of Maryland, a web developer, video and photo editor and data entry clerk.
               I specialize in fast pace, logical and heavily numerical workflows.
               With a background in many different fields I bring outside the box thinking and analyzation to a vast array of problems.</p>
      </div>

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-2"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-red"></i>Work Experience</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Data Entry clerk</b></h5>
          <h6 class="w3-text-red"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2020 - <span class="w3-tag w3-red w3-round">Current</span><b> Star View Plaza| College Park, MD </b></h6>
          <p>My main duties at this position consist of documenting and presenting data from processes includig but not limited to
            revenue collection, invoices, inspections, and rooms monitoring. I was also in charge of managing the schedule, method of communication
            and the files inventory for the whole team</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Inventory manager </b></h5>
          <h6 class="w3-text-red"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2019 - <span class="fa-fw w3-margin-right">July 2020</span><b> CVS Pharmacy| Washington DC</b></h6>
          <p>As a pharmacy technician my starting duties were to add, analyze and prepare prescriptions for patients at a fast pace while assuring safety and no errors.
            This was an extremely fast pace environment with shifts of varying 8 - 12 hours, where my team and I would prepare 400-600 scripts.
            I then advanced to be more involved in the pharmacy's inventory, keeping track of medication dispense, ordered items and missing or damaged medications.
          </p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Tech Support</b></h5>
          <h6 class="w3-text-red"><i class="fa fa-calendar fa-fw w3-margin-right"></i>August 2018 - <span class="fa-fw w3-margin-right">Jan 2019</span><b> Rockstar Games| Baltimoe, MD</b></h6>
          <p>As a tech support agent, I was in charge of providig on the fly support to customers, experiencing game bugs, system failures and credential lost.
            I was specialized in support for PC systems and steam lost keys.
          </p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Other </b></h5>
          <p>Tutor of computer Science, video editor for COA and Video editor and wiki and documentation manager for a bioengineering team.</p>
          <hr>
        </div>

      </div>

      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-2"><i class="fa fa-book fa-fw w3-margin-right w3-xxlarge w3-text-red"></i>Education</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>University of Maryland</b></h5>
          <h6 class="w3-text-red"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Class of 2022</h6>
          <p>Bachelors of Computer Science</p>
          <p>Minor in Applied Mathematics</p>
          <hr>
        </div>

      </div>

    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>

</body>
</html>